[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
google-api-python-client = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.11"
